
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/combo.css">
    <title>ListCombo</title>
</head>

<body>

    <div class="curri-details">
        <div class="navbar">
            <img src="~/image/istockphoto-1138089745-170667a.jpg" class="logo">
            <ul>
                <li><a href="~/html/home.html">Home</a></li>
                <li><a href="~/html/curri-details.html">Back</a></li>
            </ul>
        </div>
        <div class="content">
            <b>
                <h1>Learning Materials Management</h1>
                <p>Curriculum Details</p>
            </b>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>CuriCulum ID</th>
                    <td>@ViewBag.Curriculum.CurriculumId</td>
                </tr>
            </thead>
            <tr>
                <th>CurriCulum Code</th>
                <td>@ViewBag.Curriculum.CurriculumCode</td>
            </tr>
            <tr>
                <th>CurriCulum Name</th>
                <td>####</td>
            </tr>
        </table>
        <div class="table-container">
            <table class="table-2">
                <thead>
                    <tr>
                        <th>Combo ID</th>
                        <th>Combo Name</th>
                    </tr>
                </thead>
                <tr>
                    <td>####</td>
                    <td>####</td>
                </tr>
            </table>
        </div>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>@item.CurriculumId</td>
                <td>@item.CurriculumCode</td>
            </tr>
        }*@
    </div>
</body>
</html>
