@model LMMProject.Models.Session

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/delete.css">
</head>
<body>

    <div class="color">
        <h1> Create Sessions</h1>
    </div>
    <div class="container-center">
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span style="color:red"><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="col-md-4">
            <div class="square-container">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Topic" class="control-label"></label>
                        <input asp-for="Topic" class="form-control" />
                        <span asp-validation-for="Topic" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="LearningTeachingType" class="control-label"></label>
                        <input asp-for="LearningTeachingType" class="form-control" />
                        <span asp-validation-for="LearningTeachingType" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="StudentMaterials" class="control-label"></label>
                        <input asp-for="StudentMaterials" class="form-control" />
                        <span asp-validation-for="StudentMaterials" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Constructivequestion" class="control-label"></label>
                        <input asp-for="Constructivequestion" class="form-control" />
                        <span asp-validation-for="Constructivequestion" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="SubjectCode" class="control-label"></label>
                        <select asp-for="SubjectCode" class="form-control" asp-items="ViewBag.SubjectCode"></select>
                    </div>
                    <div class="form-group mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">Back to list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
