* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.curriculum {
    width: 100%;
    height: 100vh;
    background-image: url(../image/Background-sach-mo-dep-nhat.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}

.content h1 {
    bottom: 20px;
    font-size: 50px;
    margin-top: 50px;


}

.content p {
    margin: 60px auto;
    line-height: 100px;
    font-weight: 100;
    font-size: 40px;
}


button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}


.search-box .input-box {
    outline: none;
    position: relative;
    background: #009688;
    padding: 15px;
    border: 2px solid #009688;
    border-radius: 15px;
    height: 30px;
    width: 250px;
    color: #fff;
    background: #009688;

}

.search-box .input-box input {
    width: 100%;
    background: transparent;
    padding-right: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 40px;

}

.search-box .select {
    background: #009688;
    border-radius: 25%;
    padding: 20px 0;
    cursor: pointer;
    border: 2px solid #009688;
    color: #fff;

}

.search-box .search {
    background: #009688;
    border-radius: 25%;
    padding: 23px 20px;
    cursor: pointer;
    border: 2px solid #009688;

}